<div ng-controller = 'AppController'>
  <h1>New Appointment</h1>
  <p ng-if='message != null 'ng-bind='message'></p>
 Date:
 <input type="date" ng-model='new_app.date' min="2016-01-01">
 Time: 
 <select ng-options = 'n for n in timeArray' ng-model='new_app.time'></select>
 Complain:
 <textarea ng-model='new_app.complain'></textarea>
 <button ng-click='cancel()'>Cancel</button>
 <button type="submit" ng-click='create()'>Add Appointment</button>
 <p ng-bind='success.success' style="color: green"></p>
</div>